<div id="side-bg"></div>
<div id="leftcolumn-wrap">
    <div id="leftcolumn">
        <div id="menu">
            <nav>
                <ul>
                    <li><a href="/" class="list01">Inicio</a>
                    <li><span>Bandas</span>
                        <ul class="sub-menu">
                            <li><a href="#">Base Ball Bear</a>
                            <li><a href="#">Cody・Lee</a>
                            <li><a href="#">Frederic</a>
                            <li><a href="#">Gesu no Kiwami Otome</a>
                            <li><a href="#">Kirinji</a>
                            <li><a href="#">Sakanaction</a>
                        </ul>
                    <li><span class="list01">Cantantes</span>
                        <ul class="sub-menu">
                            <li><a href="#">Centimillimental</a>
                            <li><a href="#">Ichiko Aoba</a>
                        </ul>
                    <li><a href="/acerca-de/">Acerca de</a>
                </ul>
            </nav>
        </div>
        <aside>
            <h2>Lema</h2>
            <p>algo</p>
        </aside>
    </div>
</div>