<div id="side-bg"></div>
<div id="leftcolumn-wrap">
    <div id="leftcolumn">
        <div id="menu">
            <nav>
                <ul>
                    <li><a href="/" class="list01">Portada</a></li>
                    <li><span>Bandas</span>
                        <ul class="sub-menu">
                            {%- for post in collections.bandas | sortByTitle -%}
                            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
		                    {%- endfor -%}
                        </ul>
                    <li><span>Cantantes</span>
                        <ul class="sub-menu">
                            {%- for post in collections.cantantes | sortByTitle -%}
                            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
		                    {%- endfor -%}
                        </ul>
                    <li><a href="/pronunciacion/">Pronunciación</a></li>
                    <li><a href="/acerca-de/">Acerca de</a></li>
                </ul>
            </nav>
        </div>
        <aside>
            <h2>Lema</h2>
            <p>algo</p>
        </aside>
    </div>
</div>