---
title: Omotesandō 26:00 h
nombre: '表参道26時'
layout: 'cancion.njk'
type: 'cancion'
tags:
  - Sakanaction
  - trad
---

<figure class="iframe-wrapper">
  <iframe width="853" height="480" src="https://www.youtube.com/embed/T0DJWAj_d0A" frameborder="0" allowfullscreen></iframe>
</figure>
<div class="table-box">
  <table>
      <thead>
          <tr>
              <th>Japonés</th>
              <th>Español</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>つまりは心と心絡み合って切れた<br><span class="romaji">tsumari wa kokoro to kokoro karamiatte kireta</span></td>
              <td>Así fue: se enredaron corazón y corazón y luego rompimos.</td>
          </tr>
          <tr>
              <td>二人は所々ほつれてる服みたいだ<br><span class="romaji">futari wa tokorodokoro hotsureteru fuku mitai da</span></td>
              <td>Ahora somos como ropa que se deshace a pedazos por aquí y por allá.</td>
          </tr>
          <tr data-cell="coro">
              <td>気づいてる　気づいてる　気づいてる二人<span class="romaji">kidzuiteru, kidzuiteru, kidzuiteru futari</span></td>
              <td>Ya lo sabemos. Lo sabemos. Ambos lo sabemos.</td>
          </tr>
          <tr data-cell="coro">
              <td>気づいてる　気づいてる<span class="romaji">kidzuiteru, kidzuiteru</span></td>
              <td>Lo sabemos. Lo sabemos.</td>
          </tr>
          <tr data-cell="coro">
              <td>気づいてる　気づいているのさ<span class="romaji">kidzuiteru, kidzuiteirunosa</span></td>
              <td>Lo sabemos. ¡Claro que lo sé!</td>
          </tr>
          <tr data-cell="coro">
              <td>気づいてる　気づいている<span class="romaji">kidzuiteru, kidzuiteru</span></td>
              <td>Lo sabemos. Lo sabemos.</td>
          </tr>
          <tr>
              <td>つまりは心と心で引っ張った故に切れた<span class="romaji">roma</span></td>
              <td>Así fue: forcejearon corazón contra corazón y ahora estamos separados.</td>
          </tr>
          <tr>
              <td>となりでそれに気がついたあの子が黙った<span class="romaji">roma</span></td>
              <td>Al lado, la chica que se dio cuenta sólo se calló.</td>
          </tr>
          <tr>
              <td>気づいてる　気づいてる　気づいてる二人<span class="romaji">kidzuiteru, kidzuiteru, kidzuiteru futari</span></td>
              <td>Ya lo sabemos. Lo sabemos. Ambos lo sabemos.</td>
          </tr>
          <tr>
              <td>気づいてる　気づいてる<span class="romaji">kidzuiteru, kidzuiteru</span></td>
              <td>Lo sabemos. Lo sabemos.</td>
          </tr>
          <tr>
              <td>気づいてる　気づいているのさ<span class="romaji">kidzuiteru, kidzuiteirunosa</span></td>
              <td>Lo sabemos. ¡Claro que lo sé!</td>
          </tr>
          <tr>
              <td>気づいてる　気づいている<span class="romaji">kidzuiteru, kidzuiteru</span></td>
              <td>Lo sabemos. Lo sabemos.</td>
          </tr>
          <tr>
              <td>つまらない夜に話し始めたのはなぜ<span class="romaji">roma</span></td>
              <td>¿Por qué hablamos en aquella noche tan aburrida?</td>
          </tr>
          <tr>
              <td>意味もないのに左手で書いた名前<span class="romaji">roma</span></td>
              <td>Ya no hace sentido este nombre que escribí con la mano izquierda</td>
          </tr>
          <tr>
              <td>苦笑いして握りしめた手には汗<span class="romaji">roma</span></td>
              <td>Esta mano que apreté con una sonrisa amarga y que suda</td>
          </tr>
          <tr>
              <td>表参道の２６時が過ぎてく<span class="romaji">roma</span></td>
              <td>Ya pasa de las 02:00 h en Omotesandō</td>
          </tr>
          <tr>
              <td>つまりは心と心の隙間に風が吹いた<span class="romaji">roma</span></td>
              <td>Así fue: entre corazón y corazón, el viento sopló por las grietas.</td>
          </tr>
          <tr>
              <td>二人は所々それを指で塞いだ<span class="romaji">roma</span></td>
              <td>Ambos las cubrimos con nuestros dedos por aquí y por allá.</td>
          </tr>
          <tr>
              <td>気づいてる　気づいてる　気づいてる二人<span class="romaji">kidzuiteru, kidzuiteru, kidzuiteru futari</span></td>
              <td>Ya lo sabemos. Lo sabemos. Ambos lo sabemos.</td>
          </tr>
          <tr>
              <td>気づいてる　気づいてる<span class="romaji">kidzuiteru, kidzuiteru</span></td>
              <td>Lo sabemos. Lo sabemos.</td>
          </tr>
          <tr>
              <td>気づいてる　気づいているのさ<span class="romaji">kidzuiteru, kidzuiteirunosa</span></td>
              <td>Lo sabemos. ¡Claro que lo sé!</td>
          </tr>
          <tr>
              <td>気づいてる　気づいている<span class="romaji">kidzuiteru, kidzuiteru</span></td>
              <td>Lo sabemos. Lo sabemos.</td>
          </tr>
          <tr>
              <td>つまらない夜に話し始めたのはなぜ<span class="romaji">roma</span></td>
              <td>¿Por qué hablamos en aquella noche tan aburrida?</td>
          </tr>
          <tr>
              <td>グラスで濡れたテーブルを指で拭いた<span class="romaji">roma</span></td>
              <td>Una mesa mojada que limpiábamos con nuestros dedos</td>
          </tr>
          <tr>
              <td>苦笑いして握りしめた手には汗<span class="romaji">roma</span></td>
              <td>Y un poco de sudor en la mano que tomé con una sonrisa incómoda</td>
          </tr>
          <tr>
              <td>表参道の２６時が過ぎてく<span class="romaji">roma</span></td>
              <td>Ya pasa de las 02:00 h en Omotesandō</td>
          </tr>
          <tr>
              <td>246左折　そう聞こえた　246左折<span class="romaji">roma</span></td>
              <td>Gire a la izquierda, en el 246. Eso alcancé a escuchar</td>
          </tr>
          <tr>
              <td>246左折　そう聞こえた　246左折<span class="romaji">roma</span></td>
              <td>Gire a la izquierda, en el 246. Eso alcancé a escuchar</td>
          </tr>
          <tr>
              <td>つまらない夜に話し始めたのはなぜ<span class="romaji">roma</span></td>
              <td>¿Por qué hablamos en aquella noche tan aburrida?</td>
          </tr>
          <tr>
              <td>意味もないのに左手で書いた名前<span class="romaji">roma</span></td>
              <td>Ya no hace sentido este nombre que escribí con la mano izquierda</td>
          </tr>
          <tr>
              <td>苦笑いして握りしめた手には汗<span class="romaji">roma</span></td>
              <td>Esta mano que apreté con una sonrisa amarga y que suda</td>
          </tr>
          <tr>
              <td>表参道の２６時が過ぎてく<span class="romaji">roma</span></td>
              <td>Ya pasa de las 02:00 h en Omotesandō</td>
          </tr>
          <tr>
              <td>つまらない夜に話し始めたのはなぜ<span class="romaji">roma</span></td>
              <td>¿Por qué hablamos en aquella noche tan aburrida?</td>
          </tr>
          <tr>
              <td>グラスで濡れたテーブルを指で拭いた<span class="romaji">roma</span></td>
              <td>Una mesa mojada que limpiábamos con nuestros dedos</td>
          </tr>
          <tr>
              <td>苦笑いして握りしめた手には汗<span class="romaji">roma</span></td>
              <td>Y un poco de sudor en la mano que tomé con una sonrisa incómoda</td>
          </tr>
      </tbody>
  </table>
</div>