---
title: 'Sakanaction'
nombre: 'サカナクション'
layout: 'perfil.njk'
type: 'perfil'
tags:
  - bandas
  - post
portada: '/assets/portadas/sakanaction'
pie: 'Miembros de la banda'
---

<h2>Perfil</h2>

<h2>Discografía selecta</h2>