---
title: Portada
layout: 'base.njk'
colgada: 'El hogar en internet de Alejandro de Vistú (entusiasta del diseño, del mundo editorial y de la web)'
type: 'inicio'
---

<p>Te damos la bievenida a <span class="vers">Japónica</span>, un pequeño proyecto para compartir traducciones <em>fan-made</em> de canciones japonesas.</p>