---
title: Guía de pronunciación
layout: 'base.njk'
type: 'info'
---

<p>El japonés es una lengua con un complejo sistema de escritura que consta de tres partes más o menos heterogéneas: <em>hiragana</em>, <em>katakana</em> y <em>kanji</em> —de los que no se hablará aquí—. No obstante, su pronunciación sigue patrones bastante regulares. Para el caso de los hispanohablantes, puede que los sonidos del japonés ya les resulten familiares.</p>
<p>La siguiente no es una guía exhaustiva. Su único propósito es orientar sobre la pronunciación aproximada con base en la trasliteración del japonés (también conocida como <em>rōmaji</em>).</p>

<h2>Romanización</h2>
<p>La mayoría de las lenguas modernas, además de manifestarse como habla viva, poseen una expresión escrita. Si bien el alfabeto latino es ampliamente usado en el hemisferio occidental, no es ni de cerca la única forma de escribir en el mundo. Para fines didácticos, lenguas que se escriben con otros sistemas suelen recibir adaptaciones para poder ser escritas con el alfabeto latino. A este proceso de buscar equivalencias de sonido se le llama <em>trasliteración</em> (y más específicamente, en el caso latino, <em>romanización</em>).</p>

<h2>Estándar Hepburn</h2>
<p>Existen distintos modelos de romanización para el caso japonés, pero el más popular entre los extranjeros es el sistema Hepburn, que perdura desde el siglo <span class="vers">XIX</span> con algunas modificaciones. Explicado de forma breve, en este modelo las consonantes deben pronunciarse como en el inglés, mientras que el sonido de las vocales se aproxima más al español o italiano —y de ahí su éxito en América—.</p>

<h2>Vocales</h2>

<h2>Consonantes</h2>

<h2>Diptongos</h2>

<h2>Diacríticos</h2>
